@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot');
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
		url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'),
		url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold/BebasNeueBold.eot');
	src: local('Bebas Neue Bold'), local('BebasNeueBold'),
		url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeueBold/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueLight/BebasNeueLight.eot');
	src: local('Bebas Neue Light'), local('BebasNeueLight'),
		url('../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueLight/BebasNeueLight.woff') format('woff'),
		url('../fonts/BebasNeueLight/BebasNeueLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue-Thin/BebasNeue-Thin.eot');
	src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
		url('../fonts/BebasNeue-Thin/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeue-Thin/BebasNeue-Thin.woff') format('woff'),
		url('../fonts/BebasNeue-Thin/BebasNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../fonts/BebasNeueBook/BebasNeueBook.eot');
	src: local('Bebas Neue Book'), local('BebasNeueBook'),
		url('../fonts/BebasNeueBookBebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueBookBebasNeueBook.woff') format('woff'),
		url('../fonts/BebasNeueBookBebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

